<div class="textwidget margin-top-30">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus doloribus cum quasi doloremque, velit fugiat repudiandae debitis perferendis cumque. Excepturi perferendis quia ducimus nobis obcaecati. Iusto, rerum. Alias, quasi, unde.</p>
	<p>Nostrum fugiat repellat consequuntur minima, iste assumenda labore vitae dolores repellendus minus, dolorem accusantium provident itaque doloremque? Amet nisi, sed odit rem ex, reprehenderit unde commodi provident, ea nobis dolorem.</p>
</div>
<div class="widget">
	<ul>
		<li><a title="Michael Jordan" href="#"><strong>Michael Jordan</strong> <span class="cusines">Chicago Bulls</span></a></li>
		<li><a title="Magic Johnson" href="#"><strong>Magic Johnson</strong> <span class="cusines">Los Angeles Lakers</span></a></li>
		<li><a title="LeBron James" href="#"><strong>LeBron James</strong> <span class="cusines">Cleveland Cavaliers</span></a></li>
		<li><a title="Wilt Chamberlain" href="#"><strong>Wilt Chamberlain</strong> <span class="cusines">Philadelphia Warriors</span></a></li>
		<li><a title="Dirk Nowitzski" href="#"><strong>Dirk Nowitzski</strong> <span class="cusines">Dallas Mavericks</span></a></li>
		<li><a title="Larry Bird" href="#"><strong>Larry Bird</strong> <span class="cusines">Boston Celtics</span></a></li>
	</ul>
</div>