<div class="textwidget margin-top-30 floral">
	<p>Each one of these players has their own arguments as to why they can be considered the GOAT.  Each player has a rating of 1-5 stars determined by our users.  After you rate a player feel free to leave a comment defending your decision, and we can finally determine who is the Greates of All Time!!!</p>
	
</div>
<div class="widget alice"><a href="/players/create">Add a player</a></div>
<div class="widget">
	<ul>
		{{!-- {{#each players}} --}}
			{{!-- <li><a href="#">{{players.1.playerName}},  {{players.1.team}}</a></li> --}}
		{{!-- {{/each}} --}}
	</ul>
</div>

			
           
