<div class="textwidget margin-top-30 floral">
	<p>The GOAT (Greatest of All Time) has been a highly debated topic throughout history.  The Romans argued who the greatest gladiator was, the Greeks the greatest Olympian, and today we are often tasked with debating the topic of our greatest sports stars.  This webpage is a forum where we can all discuss who we believe to be the GOAT in the sport of basketball.</p>
	<p>Each player has their own unique talents and skills that they bring to they game that make them undeniably unstoppable.  The turn around fadeaway of Michael Jordan, Hakeem Olajuwon’s “Dream Shake”, Kareem Abdul Jabbar’s “Sky Hook”, and the “Flamingo Fadeaway” of Dirk Nowitzki are just a few examples of some of the greatest shots in NBA history.  “Magic” Johnson’s leadership, the court vision of John Stockton, and the overall rare athleticism of LeBron James are intangibles that every player dreams of. These qualities, and many others, have given us ammunition to debate who is the Greatest of All Time.  With your input we will finally be able to name “The GOAT”!</p>
</div>
<div class="widget">
	<form name="login-form" id="login-form" method="POST" action="/users/login">
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" id="email" name="email" class= 'white' required/>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" id="password" name="password" class= 'white' required />
		</div>
		<div class="form-group">
			<label for="rememberMe">Remember me</label>
			<input type="checkbox" id="rememberMe" name="rememberMe" />
		</div>
		<div class="form-submit">
			<input type="submit" value="Log in" />
			{{#if error}}
			<div class="red">{{error}}</div>
			{{/if}}
				<div class="margin-top-30 alice">
				or <a href="/users/create" class= "alice">Create an account</a>
				</div>
		</div>												
	</form>
</div>